# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Python virtual enviroment
.venv

# Kicad Project for Testing
JLCPCB-Kicad

__pycache__*

# Limit File size to 100MiB (Github Git File Size Limit)
find . -size +100M | cat >> .gitignore
__pycache__

# Library Zip bundles
*.zip
